@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');


h1 {
    font-family: 'Chakra Petch', sans-serif;
    align-content: center;
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}


#spotify {
    text-align: center;
}
.row {
    display: flex;

}

.column {
    flex: 50%;
    align-content: center;
    float: left;
}


.dominant_class {
    background-color: #f8d0c3;
    float: right;
    width: 500px;
    text-align: center;
}

.secondary_class {
    background-color: #f8d0c3;
    float: right;
    width: 500px;
    text-align: center;
}

.tertiary_class {
    background-color: #f8d0c3;
    float: right;
    width: 500px;
    text-align: center;
}

h2 {
    text-align: center;
    background-color: white;
    font-family: 'Chakra Petch', sans-serif;
    box-shadow: 4px 4px 15px 1px #cfa9a9;
}


body {
    background-color: #f8d0c3;
}